<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="Squiz.Commenting.FileComment.Missing" />
        <exclude name="Squiz.Commenting.ClassComment.Missing" />
    </rule>
</ruleset>
